*{
    margin: 0;
    padding: 0;
}

body,html{
    line-height: 1.5;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    max-width: 100vw;
    min-width: 1200px;
    margin: 0;
    padding: 0;
}
#showpage{
    height: 600px;
    /*background: url("../images/cooking-ingredient-cuisine-kitchen.jpg") no-repeat;*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
}
#nav ul {
    list-style: none;
}

#nav ul li{
    float: left;
    padding: 10px;
}
#nav ul li a{
    color: white;
    font-size:14px;
    font-weight:700;
}
#nav ul li:hover{
    border-bottom: 3px solid white;
    cursor: pointer;
}
.search::placeholder{
    font-size: 18px;
}
.search:focus{
    outline:none;
}

/*@media only screen and (max-width : 1050px) {*/
    /*#search-bar{*/
        /*display: none;*/
    /*}*/
/*}*/

#links a{
    background-color: white;
}

#links a:hover{
  background-color: #CCE2FF;
}

#addmorep p:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*#addmoreimg{*/
    /*display: none;*/
/*}*/

#viewall:hover{
    cursor: pointer;
}

#customtextbox{
    margin-top: 10px;
    margin-left: 50px;
    width: 500px;
    height: 100px;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #f9f9f9;
    border-color: -moz-use-text-color #FFFFFF #FFFFFF -moz-use-text-color;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
    color: #555555;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    padding: 5px 8px;
    transition: background-color 0.2s ease 0s;
    outline: none;


}




















